<a href="https://colab.research.google.com/github/GrzegorzMeller/AlgorithmsForMassiveData/blob/master/MPG_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises 14/05

In regression problems, we want to predict the output of a continuous value. Contrast this with a classification problem, where we want to pick a class from a list of classes.

In the 14/05 lecture we will focus on regression. We will use the [Auto MPG](https://archive.ics.uci.edu/ml/datasets/auto+mpg) dataset to build a model to predict the fuel efficiency of late-1970s and early 1980s automobiles. Fluel efficiency is predicted relying on several attributes like: number of cylinders, displacement, horsepower, and weight.

The dataset can be downloaded as follows:

In [1]:
import keras

dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataset_path

Using TensorFlow backend.

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 1us/step

'/root/.keras/datasets/auto-mpg.data'

Pandas can be used to first preprocess the dataset:

In [2]:
import pandas as pd

column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin']

raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=" ", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail()

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[5 rows x 8 columns]

The dataset contains a few unknown values:

In [3]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

Simply drop the rows that contain unknown values.

Build the training set and the test set as follows:

In [4]:
train_dataset = dataset.sample(frac = 0.8, random_state = 0)
test_dataset = dataset.drop(train_dataset.index)
train_dataset

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
65   14.0          8         351.0  ...          13.0          72       1
132  25.0          4         140.0  ...          17.0          74       1
74   13.0          8         302.0  ...          16.0          72       1
78   21.0          4         120.0  ...          19.5          72       2
37   18.0          6         232.0  ...          15.5          71       1
..    ...        ...           ...  ...           ...         ...     ...
207  20.0          4         130.0  ...          15.7          76       2
279  29.5          4          98.0  ...          16.6          78       3
227  19.0          6         225.0  ...          17.7          77       1
148  26.0          4         116.0  ...          14.0          74       2
143  26.0          4          97.0  ...          14.5          74       2

[318 rows x 8 columns]

In [9]:
test_dataset

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
9    15.0          8         390.0  ...           8.5          70       1
25   10.0          8         360.0  ...          14.0          70       1
28    9.0          8         304.0  ...          18.5          70       1
31   25.0          4         113.0  ...          14.0          71       3
32   25.0          4          98.0  ...          19.0          71       1
..    ...        ...           ...  ...           ...         ...     ...
368  27.0          4         112.0  ...          18.6          82       1
370  31.0          4         112.0  ...          16.2          82       1
382  34.0          4         108.0  ...          16.9          82       3
384  32.0          4          91.0  ...          15.7          82       3
396  28.0          4         120.0  ...          18.6          82       1

[80 rows x 8 columns]

Then, separate the target value, or "label", from the features. This label is the value that you will train the model to predict. We are talking about the MPG values (Miles Per Gallon).

After the preprocessing step:

- Build a neural network to predict the MPG value from the provided data.
- Use the Mean Squared Error (MSE) as loss function. MSE is a common loss function used in regression problems.
- Evaluation metrics used for regression differ from classification. A common regression metric that you can try to use is the Mean Absolute Error (MAE).
- Try to scale the input data and the output data using Normalization or Standardization.
- Do you notice any improvement in the performance when data scaling is applied?

In [41]:
x_train = train_dataset[train_dataset.columns[1:]]
y_train = train_dataset.MPG
y_train = y_train.astype(float)

x_test = test_dataset[test_dataset.columns[1:]]
y_test = test_dataset.MPG
y_test = y_test.astype(float)

#nan values
x_train = x_train.fillna(x_train.mean())
x_test = x_test.fillna(x_test.mean())
y_train = y_train.fillna(y_train.mean())
y_test = y_test.fillna(y_test.mean())
print(type(y_train))
print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

<class 'pandas.core.series.Series'>
(318, 7) (318,) (80, 7) (80,)

In [44]:
from tensorflow import keras
#neural network implementation
model = keras.Sequential([
    keras.layers.Dense(64, activation="relu", input_shape=(x_train.shape[1],)), 

    keras.layers.Dense(64, activation="relu"),


    keras.layers.Dense(1)]) 
  

model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mean_absolute_error'])

model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 64)                512
_________________________________________________________________
dense_19 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 65
=================================================================
Total params: 4,737
Trainable params: 4,737
Non-trainable params: 0
_________________________________________________________________

In [45]:
history = model.fit(x_train,
                    y_train,
                    batch_size=60,
                    epochs=30,
                    validation_data=(x_test,y_test),
                    )

Epoch 1/30
6/6 [==============================] - 0s 19ms/step - loss: 37067.4062 - mean_absolute_error: 156.5796 - val_loss: 2483.4207 - val_mean_absolute_error: 48.8559
Epoch 2/30
6/6 [==============================] - 0s 9ms/step - loss: 9993.5615 - mean_absolute_error: 93.8348 - val_loss: 11759.0410 - val_mean_absolute_error: 105.4686
Epoch 3/30
6/6 [==============================] - 0s 9ms/step - loss: 6043.1597 - mean_absolute_error: 71.5208 - val_loss: 72.8189 - val_mean_absolute_error: 6.8310
Epoch 4/30
6/6 [==============================] - 0s 9ms/step - loss: 1101.0171 - mean_absolute_error: 26.0899 - val_loss: 3127.5964 - val_mean_absolute_error: 51.8459
Epoch 5/30
6/6 [==============================] - 0s 9ms/step - loss: 2296.2344 - mean_absolute_error: 43.3887 - val_loss: 468.4918 - val_mean_absolute_error: 18.2849
Epoch 6/30
6/6 [==============================] - 0s 9ms/step - loss: 239.5645 - mean_absolute_error: 12.8763 - val_loss: 703.1732 - val_mean_absolute_error: 25.9592
Epoch 7/30
6/6 [==============================] - 0s 9ms/step - loss: 780.4358 - mean_absolute_error: 27.1735 - val_loss: 327.7935 - val_mean_absolute_error: 17.3396
Epoch 8/30
6/6 [==============================] - 0s 11ms/step - loss: 162.8814 - mean_absolute_error: 10.6267 - val_loss: 196.8559 - val_mean_absolute_error: 11.4134
Epoch 9/30
6/6 [==============================] - 0s 9ms/step - loss: 273.2828 - mean_absolute_error: 13.5707 - val_loss: 187.2412 - val_mean_absolute_error: 11.1436
Epoch 10/30
6/6 [==============================] - 0s 9ms/step - loss: 119.0230 - mean_absolute_error: 8.7910 - val_loss: 84.3468 - val_mean_absolute_error: 7.6052
Epoch 11/30
6/6 [==============================] - 0s 9ms/step - loss: 123.2229 - mean_absolute_error: 9.0109 - val_loss: 88.8799 - val_mean_absolute_error: 7.8783
Epoch 12/30
6/6 [==============================] - 0s 9ms/step - loss: 83.9030 - mean_absolute_error: 7.2782 - val_loss: 74.2631 - val_mean_absolute_error: 7.0151
Epoch 13/30
6/6 [==============================] - 0s 9ms/step - loss: 89.1710 - mean_absolute_error: 7.7909 - val_loss: 66.7460 - val_mean_absolute_error: 6.6701
Epoch 14/30
6/6 [==============================] - 0s 10ms/step - loss: 72.6122 - mean_absolute_error: 6.9008 - val_loss: 62.8601 - val_mean_absolute_error: 6.3004
Epoch 15/30
6/6 [==============================] - 0s 9ms/step - loss: 77.4679 - mean_absolute_error: 7.0045 - val_loss: 57.5553 - val_mean_absolute_error: 6.0811
Epoch 16/30
6/6 [==============================] - 0s 9ms/step - loss: 71.0003 - mean_absolute_error: 6.8460 - val_loss: 61.1711 - val_mean_absolute_error: 6.3700
Epoch 17/30
6/6 [==============================] - 0s 9ms/step - loss: 70.8239 - mean_absolute_error: 6.8262 - val_loss: 56.5461 - val_mean_absolute_error: 6.0361
Epoch 18/30
6/6 [==============================] - 0s 9ms/step - loss: 69.3898 - mean_absolute_error: 6.6869 - val_loss: 56.5494 - val_mean_absolute_error: 6.0281
Epoch 19/30
6/6 [==============================] - 0s 10ms/step - loss: 69.4031 - mean_absolute_error: 6.6644 - val_loss: 55.8984 - val_mean_absolute_error: 5.9969
Epoch 20/30
6/6 [==============================] - 0s 9ms/step - loss: 68.4562 - mean_absolute_error: 6.6602 - val_loss: 56.3471 - val_mean_absolute_error: 6.0702
Epoch 21/30
6/6 [==============================] - 0s 9ms/step - loss: 68.0571 - mean_absolute_error: 6.6728 - val_loss: 55.4626 - val_mean_absolute_error: 6.0024
Epoch 22/30
6/6 [==============================] - 0s 9ms/step - loss: 67.2795 - mean_absolute_error: 6.6038 - val_loss: 54.8224 - val_mean_absolute_error: 5.9148
Epoch 23/30
6/6 [==============================] - 0s 11ms/step - loss: 67.3280 - mean_absolute_error: 6.5594 - val_loss: 54.6087 - val_mean_absolute_error: 5.9310
Epoch 24/30
6/6 [==============================] - 0s 9ms/step - loss: 66.3131 - mean_absolute_error: 6.5701 - val_loss: 55.8800 - val_mean_absolute_error: 6.0327
Epoch 25/30
6/6 [==============================] - 0s 10ms/step - loss: 66.5406 - mean_absolute_error: 6.6017 - val_loss: 53.9581 - val_mean_absolute_error: 5.8817
Epoch 26/30
6/6 [==============================] - 0s 9ms/step - loss: 65.8146 - mean_absolute_error: 6.5335 - val_loss: 53.5253 - val_mean_absolute_error: 5.8129
Epoch 27/30
6/6 [==============================] - 0s 9ms/step - loss: 65.4404 - mean_absolute_error: 6.4675 - val_loss: 53.0945 - val_mean_absolute_error: 5.8037
Epoch 28/30
6/6 [==============================] - 0s 9ms/step - loss: 64.5718 - mean_absolute_error: 6.4213 - val_loss: 53.2844 - val_mean_absolute_error: 5.8607
Epoch 29/30
6/6 [==============================] - 0s 9ms/step - loss: 64.2170 - mean_absolute_error: 6.4520 - val_loss: 52.5233 - val_mean_absolute_error: 5.8014
Epoch 30/30
6/6 [==============================] - 0s 9ms/step - loss: 63.8963 - mean_absolute_error: 6.4139 - val_loss: 51.9484 - val_mean_absolute_error: 5.6936

In [46]:
#data normalization
import sklearn
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
scaler.fit(x_train)
x_train_norm = scaler.transform(x_train)

scaler2 = preprocessing.MinMaxScaler()
scaler2.fit(x_test)
x_test_norm = scaler2.transform(x_test)

#print(x_train_norm, x_test_norm)
print(x_train_norm.shape, x_test_norm.shape)

(318, 7) (80, 7)

In [47]:
history = model.fit(x_train_norm,
                    y_train,
                    batch_size=60,
                    epochs=30,
                    validation_data=(x_test_norm,y_test),
                    )

Epoch 1/30
6/6 [==============================] - 0s 18ms/step - loss: 610.9911 - mean_absolute_error: 23.4201 - val_loss: 578.1923 - val_mean_absolute_error: 22.8766
Epoch 2/30
6/6 [==============================] - 0s 7ms/step - loss: 599.4794 - mean_absolute_error: 23.1723 - val_loss: 561.3620 - val_mean_absolute_error: 22.4974
Epoch 3/30
6/6 [==============================] - 0s 7ms/step - loss: 580.0314 - mean_absolute_error: 22.7364 - val_loss: 533.9581 - val_mean_absolute_error: 21.8661
Epoch 4/30
6/6 [==============================] - 0s 7ms/step - loss: 549.9756 - mean_absolute_error: 22.0514 - val_loss: 493.8680 - val_mean_absolute_error: 20.9130
Epoch 5/30
6/6 [==============================] - 0s 7ms/step - loss: 506.5936 - mean_absolute_error: 21.0285 - val_loss: 439.7053 - val_mean_absolute_error: 19.5520
Epoch 6/30
6/6 [==============================] - 0s 7ms/step - loss: 449.6403 - mean_absolute_error: 19.6028 - val_loss: 372.4759 - val_mean_absolute_error: 17.7039
Epoch 7/30
6/6 [==============================] - 0s 7ms/step - loss: 380.4458 - mean_absolute_error: 17.7098 - val_loss: 296.6217 - val_mean_absolute_error: 15.3511
Epoch 8/30
6/6 [==============================] - 0s 7ms/step - loss: 305.5529 - mean_absolute_error: 15.2971 - val_loss: 219.6483 - val_mean_absolute_error: 12.6267
Epoch 9/30
6/6 [==============================] - 0s 7ms/step - loss: 229.1640 - mean_absolute_error: 12.6063 - val_loss: 153.1231 - val_mean_absolute_error: 10.1536
Epoch 10/30
6/6 [==============================] - 0s 7ms/step - loss: 164.6460 - mean_absolute_error: 10.4439 - val_loss: 105.9387 - val_mean_absolute_error: 8.6158
Epoch 11/30
6/6 [==============================] - 0s 7ms/step - loss: 119.4715 - mean_absolute_error: 8.9962 - val_loss: 83.8083 - val_mean_absolute_error: 7.8520
Epoch 12/30
6/6 [==============================] - 0s 7ms/step - loss: 95.6234 - mean_absolute_error: 8.2198 - val_loss: 78.5781 - val_mean_absolute_error: 7.5370
Epoch 13/30
6/6 [==============================] - 0s 7ms/step - loss: 84.0846 - mean_absolute_error: 7.7809 - val_loss: 74.7762 - val_mean_absolute_error: 7.2097
Epoch 14/30
6/6 [==============================] - 0s 7ms/step - loss: 76.6978 - mean_absolute_error: 7.4490 - val_loss: 67.3974 - val_mean_absolute_error: 6.7889
Epoch 15/30
6/6 [==============================] - 0s 7ms/step - loss: 68.3700 - mean_absolute_error: 7.0104 - val_loss: 57.9652 - val_mean_absolute_error: 6.2830
Epoch 16/30
6/6 [==============================] - 0s 7ms/step - loss: 60.8836 - mean_absolute_error: 6.5748 - val_loss: 48.6963 - val_mean_absolute_error: 5.7542
Epoch 17/30
6/6 [==============================] - 0s 8ms/step - loss: 54.8712 - mean_absolute_error: 6.1864 - val_loss: 41.6719 - val_mean_absolute_error: 5.3070
Epoch 18/30
6/6 [==============================] - 0s 7ms/step - loss: 49.8066 - mean_absolute_error: 5.8304 - val_loss: 36.6035 - val_mean_absolute_error: 4.9409
Epoch 19/30
6/6 [==============================] - 0s 7ms/step - loss: 45.4863 - mean_absolute_error: 5.5299 - val_loss: 33.1445 - val_mean_absolute_error: 4.6561
Epoch 20/30
6/6 [==============================] - 0s 7ms/step - loss: 41.5676 - mean_absolute_error: 5.2661 - val_loss: 30.7818 - val_mean_absolute_error: 4.4860
Epoch 21/30
6/6 [==============================] - 0s 7ms/step - loss: 38.5060 - mean_absolute_error: 5.0605 - val_loss: 28.6027 - val_mean_absolute_error: 4.3347
Epoch 22/30
6/6 [==============================] - 0s 7ms/step - loss: 35.8717 - mean_absolute_error: 4.8648 - val_loss: 26.7161 - val_mean_absolute_error: 4.1858
Epoch 23/30
6/6 [==============================] - 0s 7ms/step - loss: 33.6848 - mean_absolute_error: 4.6879 - val_loss: 25.0795 - val_mean_absolute_error: 4.0415
Epoch 24/30
6/6 [==============================] - 0s 7ms/step - loss: 31.9346 - mean_absolute_error: 4.5396 - val_loss: 23.7367 - val_mean_absolute_error: 3.9318
Epoch 25/30
6/6 [==============================] - 0s 7ms/step - loss: 30.5041 - mean_absolute_error: 4.4086 - val_loss: 22.2803 - val_mean_absolute_error: 3.8024
Epoch 26/30
6/6 [==============================] - 0s 8ms/step - loss: 29.2383 - mean_absolute_error: 4.2811 - val_loss: 21.4363 - val_mean_absolute_error: 3.7229
Epoch 27/30
6/6 [==============================] - 0s 9ms/step - loss: 28.3215 - mean_absolute_error: 4.1763 - val_loss: 20.0276 - val_mean_absolute_error: 3.5581
Epoch 28/30
6/6 [==============================] - 0s 7ms/step - loss: 27.4443 - mean_absolute_error: 4.0767 - val_loss: 19.4027 - val_mean_absolute_error: 3.4852
Epoch 29/30
6/6 [==============================] - 0s 7ms/step - loss: 26.7796 - mean_absolute_error: 4.0137 - val_loss: 19.3713 - val_mean_absolute_error: 3.4882
Epoch 30/30
6/6 [==============================] - 0s 7ms/step - loss: 26.1135 - mean_absolute_error: 3.9561 - val_loss: 18.9448 - val_mean_absolute_error: 3.4499